body{
    overflow-x: hidden;
}

.npamiracle{
    display: flex;
    justify-content: center;
}
.miracle{
    display: flex;
    justify-content: space-around;
    width: 700px;
    position: relative;
}
.precious{
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
.precious a{
    text-decoration: none;
    font-size: 15px;
}
.npamartins{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.dad{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.parent{
    display: flex;
    flex-direction: column;
}
.parent p{
    margin-top: -5px;
}
.contain p{
    margin-top: -10px;
}
.chibukem{
    width: 300px;
    display: flex;
    align-items: center;
}
.pp{
    width: 200px;
    border-radius: 20px;
}
.ife{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: space-around;
    width: 700px;
}
.contain{
    width: 90px;
    height: 90px;
    border: 1px solid white;
    padding: 1px;
}

.contain img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}
button{
    color: red;
    background-color: black;
}

#inp {
    display: none;
}
.lab{
    display: none;
}

@media screen and (min-width: 250px) and (max-width: 500px){
.lab{
    display: initial;
    position: absolute;
    z-index: 100;
    left: 70%;
}
.npamiracle{
    display: flex;
    justify-content: center;
}
.miracle{
    display: flex;
    justify-content: space-around;
    width: 300px;
    position: relative;
}
.dominion{
    margin-right: 50%;
}
.precious{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    height: 80px;
    top: 80%;
    left: 150%;
    background-color: rgb(0, 0, 0);
    transition: 1s;
    padding-left: 20px;
    align-items: flex-start;
}
.precious a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.npamartins{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dad{
        display: flex;
        justify-content: space-around;
        width: 350px;
    }
    .parent{
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    
    .chibukem{
        width: 150px;
        display: flex;
        align-items: center;
    }
    .chibukem img{
        width: 150px;
    }
    
    .ife{
        display: flex;
        justify-content: center;
    }

    .box{
        display: flex;
        justify-content: space-around;
        width: 300px;
    }


    .contain{
        width: 70px;
        height: 70px;
    }

    .contain img{
        width: 100%;
        height: 100%;
        border-radius: 10%;
        object-fit: cover;
    }

     .suc, .angel, .lisa, .luna, .debby{
        width: 80px;
    }

    .suc h1, .angel h1, .lisa h1, .luna h1, .debby h1{
        font-size: 20px;
    }

    button{
        color: rgb(255, 255, 255);
    }

#inp:checked ~ .npamiracle .miracle .precious{
    opacity: 1;
    left: 70%;
}


}